.min{
    width:350px
}

.max{
    width: 795px;
}

.input {
    margin-top: 40px;
    width: 360px;
}

input{
    height: 35px;
    margin-top: 5px;
    border-radius: 4px;
    background: #FFFFFF;
    border: 1px solid #BCBCBC;
    width: 360px;
    padding-left: 5px;
}

.header{
    margin-top: 8px;
    font-family: 'Helvetica';
    font-size: 16px;
    line-height: 21px;
    font-weight: bold;
    width: 360px;
}

.validate{
    font-size: 14px;
    font-family: 'Helvetica';
    position: relative;
    top: 10px;
}

.margin-input{
    margin-top: 40px;
}

.error::before{
    content: '';
    background-image: url(../../Images/Vector.png);
    width: 22px;
    height: 19px;
    position: absolute;
    margin-left: 370px;
    margin-top: 38px;
}

.wide-error::before{
    content: '';
    background-image: url(../../Images/Vector.png);
    width: 22px;
    height: 19px;
    position: absolute;
    margin-left: 812px;
    margin-top: 37px;
}
.wide-valid::before{
    content: '';
    background-image: url(../../Images/valid.png);
    width: 18px;
    height: 18px;
    position: absolute;
    margin-left: 772px;
    margin-top: 38px;
}

.valid::before{
    content: '';
    background-image: url(../../Images/valid.png);
    width: 18px;
    height: 18px;
    position: absolute;
    margin-left: 325px;
    margin-top: 38px;
}

.input.error input, .input.wide-error input {
    border-color: #EF5050 !important;
}

.input.valid input, .green-border textarea, .input.wide-valid input{
    border-color: #98E37E !important;
}