.resume-container{
    width: 742px;
    padding-left: 80px;
}

.fullName {
    font-family: 'Helvetica';
    line-height: 42px;
    font-size: 34px;
    font-weight: 700;
    margin-top: 68px;
    color: #F93B1D;
}

.cv-img{
    width: 246px;
    height: 246px;
    border-radius: 133px;
    display: flex;
    float: right;
    margin-top: -70px;
    margin-right: 75px;
}

.cv-email-img{
    background-image: url('../../Images/@.png');
    width: 18px;
    height: 18px;
}

.number-img{
    background-image: url(../../Images/Number.png);
    width: 18px;
    height: 18px;
}

.cv-email, .number {
    font-family: 'Helvetica';
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #1A1A1A;
    margin-left: 28px;
    margin-top: 18px;
    width: 250px;
}

.cv-aboutme-text{
    font-family: 'Helvetica';
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #1A1A1A;
    margin-top: 18px;
    width: 420px;
    word-break: break-all;
}

.cv-aboutme-text::after{
    content: '';
    width: 662px;
    margin-top: 20px;
    border: 1px solid #C1C1C1;
    display: flex;
}

.cv-aboutme{
    font-family: 'Helvetica';
    line-height: 22px;
    font-size: 18px;
    font-weight: 700;
    margin-top: 38px;
    color: #F93B1D;
}


.experience{
    font-weight: 700;
    line-height: 20px;
    font-size: 16px;
    font-family: 'Helvetica';
    color: #1A1A1A;
    margin-top: 15px;
}

.experience-date{
    font-weight: 400;
    font-style: italic;
    font-size: 16px;
    line-height: 19px;
    font-family: 'Helvetica';
    color: #919191;
    margin-top: 5px;
}